* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b1c1f;
  color: white;
}

header {
  background: #000;
  padding: 15px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #22c55e;
}

.burger {
  display: flex;
  font-size: 24px;
  cursor: pointer;
}

.hero {
  height: 90vh;
  background: url('https://images.unsplash.com/photo-1508609349937-5ec4ae374ebf') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1f2933;
  padding: 40px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

input, button {
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
}

.cookie {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  text-align: center;
  padding: 10px;
}


@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  .burger {
    display: block;
    
  }
  .cards{
    flex-direction: column;
  }
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #22c55e;
}

.logo-box img {
  width: 40px;
  height: 40px;
}

.navbar {
  padding: 15px 40px;
}

.nav-links li a {
  font-weight: 500;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #22c55e;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.nav-links li a:hover::after {
  width: 100%;
}
